# Jetbrains
.idea/
*.iml

# Node
node_modules/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

packages/core/dist
config.json

**/extra[0-9]-solution.sb3
**/[0-9]-solution.sb3
**/solution.sb3

**/[0-9]-template.sb3
**/template.sb3
**/extra[0-9]-template.sb3
